.gift {
  width: 380px;
  height: 600px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  position: relative;
  z-index: 9999;

  * {
    box-sizing: border-box;
  }

  .bg-video {
    left: -140px;
    top: 15px;
    position: absolute;
    width: 640px;
    height: 540px;
    transform: rotate(90deg);
    z-index: -1;
  }

  .title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    padding: 20px 0 0 8px;
    color: #fff;
  }

  .list {
    margin-left: 60px;
    width: 255px;

    .item {
      overflow: hidden;
      padding: 10px;
      margin-top: 6px;
      border-radius: 4px;
      color: #fff;
      background: rgba(0, 0, 0, 0.65);

      &:first-of-type {
        margin-top: 0;
      }

      .icon {
        float: left;
        display: inline-block;

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      .name {
      }

      .num {
      }

      .x {
        font-size: 12px;
      }

      .content {
        float: left;
        padding-left: 12px;
      }
    }

    > .user-item,
    > .gift-item {
      > .icon {
        $size: 52px;
        width: $size;
        height: $size;
      }
    }

    > .user-item {
      .user-content {
        float: left;
        padding-left: 12px;
        line-height: 24px;

        .username {
          font-size: 16px;
        }

        .inner-gift-content {
          overflow: hidden;

          .name {
            padding-right: 6px;
          }

          > .icon {
            width: 24px;
            height: 24px;
          }
        }
      }
    }

    > .gift-item {
      > .gift-content {
        float: left;
        padding-left: 12px;
        line-height: 48px;

        .name {
          padding-right: 6px;
          font-size: 16px;
        }
      }
    }
  }
}
